footer{
    background-color: var(--orange);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
.footerNav{
width: 100%;
display: flex;
justify-content: center;
column-gap: 50px;
max-width: 1118px;
}

li{
    list-style: none;
    color: var(--white);
    font-size: 25px;
}

li:hover{
    cursor: pointer;
}
ul{
    padding:0;
    text-align: center;
}
h2{
background-color: var(--black);
color:var(--white);
width: 270px;
height: 47;
text-align: center;
font-size: 30px;
font-weight: 100;
margin-bottom: 5px;
}